@font-face {
    font-family: PressStart2P;
    src: url(PressStart2P.ttf);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.card{
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

#gameBoard {
    height: min-content;
    width: min-content;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    position: absolute;
}

@keyframes turn {
    0%{
      transform: rotate3d(0, 0, 0, 0);
    }
    50%{
      scale: 110%;
    }
    100% {
      transform: rotate3d(1, 1, 0, 180deg);
    }
  }

  @keyframes turn2 {
    0% {
      transform: rotate3d(1, 1, 0, 180deg);
    }
    50%{
      scale: 110%;
    }
    85%{
    }
    100% {
      transform: rotate3d(0, 0, 0, 720deg);
    }
  }

  @keyframes turn3 {
    0% {
      transform: rotate3d(1, 1, 0, 180deg);
    }
    100% {
      transform: rotate3d(0, 0, 0, 720deg);
    }
  }

  .score{
    display: flex;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    color: darkgray;
    font-family: PressStart2P;
    display: flex;
    user-select: none;
    padding-right: 20px;
    padding-left: 20px;
  
  }

  .score select{
    overflow: hidden;
    height: 50px;
    font-family: PressStart2P;
    font-size: 10px;
    border: none;
    background: none;
    position: relative;
  }

  .score select option{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    background: none;
    border: none;
  }

  .score img{
    height: 50px;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  #Opnts{
    width: 90%;
    text-align: left;
  }

  #Xpnts{
    width: 90%;
    text-align: right;
  }

  #O_score{
    justify-content: right;
    border: 2px dashed rgba(211, 211, 211, 0.5);
  }
  #X_score{
    align-items: flex-end;
  }
  
  .cube {
    transform-style: preserve-3d;
    animation: turn 0.5s ease-in-out;
    z-index: 2;
  }

  .cube2 {
    transform-style: preserve-3d;
    animation: turn2 0.5s ease-in-out;
    z-index: 2;
  }

  .cube3 {
    transform-style: preserve-3d;
    animation: turn3 0.5s ease-in-out;
    z-index: 2;
  }

  .face {
    width: 98px;
    height: 98px;
    border: 2px solid #878787;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .front {
    transform: translateZ(50px);
  }
  .back {
    transform: translateZ(-50px);
  }

  .left {
    transform: translateX(-50px) rotateY(-90deg);
  }
  .right {
    transform: translateX(50px) rotateY(90deg);
  }
  .top {
    transform: translateY(-50px) rotateX(90deg);
  }
  .bottom {
    transform: translateY(50px) rotateX(-90deg);
  }